@model K2.Web.Models.ViagemRegistro

@{
    Layout = "TemplatePdf";
}


<table class="table table-bordered m-table m-table--border-metal" style="width:100%; margin:0;">
    <tbody>
        <tr>
            <td style="width: 1px; padding-left: 15px; padding-right: 15px; vertical-align: middle;"><img src="~/assets/img/logo-k2.png" style="width:80px;" /></td>
            <td class="m--align-center" style="vertical-align: middle;">
                <span class="m--icon-font-size-lg1 m--font-bold">K2 TRANSPORT - Iatami Klever Leite Nogueira - MEI</span><br />
                <span class="m--icon-font-size-lg1 m--font-bold">CNPJ: 27.782.839/0001-85</span>
            </td>
            <td style="width: 1px; padding:0;">
                <table class="table" style="width:100%; margin-bottom:0; border-spacing: 1px;">
                    <tbody>
                        <tr>
                            <td style="width: 1px; border-top:none; border-left:none; white-space: nowrap; padding-top: 0; padding-bottom: 0;" class="m--font-bold">FRETE Nº:</td>
                            <td style="width: 1px; border-top:none; border-right:none; padding-top: 0; padding-bottom: 0;" class="m--font-boldest">@Model.DataHorarioSaida.ToString("ddMMyyyy")</td>
                        </tr>
                        <tr>
                            <td style="width: 1px; border-top:none; border-left:none; white-space: nowrap; padding-top: 0; padding-bottom: 0;" class="m--font-bold">DESTINO:</td>
                            <td style="width: 1px; border-top:none; border-right:none; white-space: nowrap; padding-top: 0; padding-bottom: 0;" class="m--font-boldest">@(Model.LocalidadeEmbarque.Sigla) x @(Model.LocalidadeDesembarque.Sigla)</td>
                        </tr>
                        <tr>
                            <td style="width: 1px; border-top:none; border-left:none; white-space: nowrap; padding-top: 0; padding-bottom: 0;" class="m--font-bold">DATA:</td>
                            <td style="width: 1px; border-top:none; border-right:none; white-space: nowrap; padding-top: 0; padding-bottom: 0;" class="m--font-boldest">@Model.DataHorarioSaida.ToString("dd/MM/yyyy")</td>
                        </tr>
                        <tr>
                            <td style="width: 1px; border-top:none; border-left:none; white-space: nowrap; padding-top: 0; padding-bottom: 0;" class="m--font-bold">DIA:</td>
                            <td style="width: 1px; border-top:none; border-right:none; white-space: nowrap; padding-top: 0; padding-bottom: 0;" class="m--font-boldest">@Model.DataHorarioSaida.ToString("dddd").ToUpper()</td>
                        </tr>
                        <tr>
                            <td style="width: 1px; border-bottom:none; border-left:none; white-space: nowrap; padding-top: 0; padding-bottom: 0;" class="m--font-bold">HORÁRIO:</td>
                            <td style="width: 1px; border-bottom:none; border-right:none; white-space: nowrap; padding-top: 0; padding-bottom: 0;" class="m--font-boldest">@Model.DataHorarioSaida.ToString("HH:mm")</td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="3" class="m--align-center">
                <span class="m--icon-font-size-lg2 m--font-boldest">SERVIÇO DE TRANSPORTE COLETIVO - FRETAMENTO DE VEÍCULO VAN</span>
            </td>
        </tr>
        <tr>
            <td colspan="3" class="m--align-center" style="padding:0; border-bottom: none;">
                <table class="table" style="width:100%; margin-bottom:0; border-spacing: 1px;">
                    <tbody>
                        <tr>
                            <td colspan="4" style="width: 50%; background-color: #efefef; padding-top: 2px; padding-bottom: 2px; border-top:none; border-left: none;" class="m--font-bolder">
                                @($"VEÍCULO - Pas./Microônibus/Van - {Model.Carro.NomeFabricante} {Model.Carro.Descricao} - REG. SETURB {Model.Carro.RegistroSeturb}")
                            </td>
                            <td colspan="4" style="width: 50%; background-color: #efefef; padding-top: 2px; padding-bottom: 2px; border-top:none; border-right: none;" class="m--font-bolder">
                                MOTORISTA - PRONTUÁRIO 002
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 12.5%; border-left:none; padding-top: 2px; padding-bottom: 2px; background-color: #f9f9f9;">ANO/MODELO</td>
                            <td style="width: 12.5%; padding-top: 2px; padding-bottom: 2px; background-color: #f9f9f9;">CAPACIDADE</td>
                            <td style="width: 12.5%; padding-top: 2px; padding-bottom: 2px; background-color: #f9f9f9;">PLACA</td>
                            <td style="width: 12.5%; padding-top: 2px; padding-bottom: 2px; background-color: #f9f9f9;">COR</td>
                            <td colspan="2" style="width: 25%; padding-top: 2px; padding-bottom: 2px;" class="m--align-left">
                                Nome: <span class="m--font-bolder">@Model.Motorista.Nome</span>
                            </td>
                            <td colspan="2" style="width: 25%; border-right:none; padding-top: 2px; padding-bottom: 2px;" class="m--align-left">
                                CPF: <span class="m--font-bolder">@Model.Motorista.CpfFormatado</span>
                            </td>
                        </tr>
                        <tr>
                            <td rowspan="3" style="width: 12.5%; border-left:none; border-bottom:none; padding-top: 2px; padding-bottom: 2px; vertical-align: middle;" class="m--font-bolder m--align-center">@Model.Carro.AnoModelo</td>
                            <td rowspan="3" style="width: 12.5%; border-bottom:none; padding-top: 2px; padding-bottom: 2px; vertical-align: middle;" class="m--font-bolder m--align-center">@(Model.Carro.Capacidade + " passageiros")</td>
                            <td rowspan="3" style="width: 12.5%; border-bottom:none; padding-top: 2px; padding-bottom: 2px; vertical-align: middle;" class="m--font-bolder m--align-center">@Model.Carro.Placa</td>
                            <td rowspan="3" style="width: 12.5%; border-bottom:none; padding-top: 2px; padding-bottom: 2px; vertical-align: middle;" class="m--font-bolder m--align-center">@Model.Carro.Cor</td>
                            <td colspan="2" style="width: 25%;   border-bottom:none; padding-top: 2px; padding-bottom: 2px;" class="m--align-left">
                                CNH: <span class="m--font-bolder">@Model.Motorista.Cnh</span>
                            </td>
                            <td colspan="2" style="width: 25%; border-right:none; padding-top: 2px; padding-bottom: 2px;" class="m--align-left">
                                Expedição: <span class="m--font-bolder">@Model.Motorista.DataExpedicaoCnhToString</span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" style="width: 25%; border-left:none; padding-top: 2px; padding-bottom: 2px;" class="m--align-left">
                                Validade: <span class="m--font-bolder">@Model.Motorista.DataExpedicaoCnhToString</span>
                            </td>
                            <td colspan="2" style="width: 25%; border-right:none; padding-top: 2px; padding-bottom: 2px;" class="m--align-left">
                                Fone: <span class="m--font-bolder">@Model.Motorista.CelularFormatado</span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4" style="width: 25%; border-left:none; border-right:none; border-bottom:none; padding-top: 2px; padding-bottom: 2px;" class="m--align-left">
                                Endereço: <span class="m--font-bolder">@Model.Motorista.EnderecoCompleto</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="3" class="m--align-center" style="padding:0; background-color: #efefef;">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="3" class="m--align-center" style="padding:0; border-bottom: none;">
                <table class="table" style="width:100%; margin-bottom:0; border-spacing: 1px;">
                    <tr>
                        <td style="width: 50%; padding-top: 2px; padding-bottom: 2px; border-top:none; border-left: none;" class="m--align-left">
                            Fretado por: <span class="m--font-bolder">@Model.NomeContratanteFrete</span>
                        </td>
                        <td rowspan="2" style="padding:0; width: 50%; border-top:none; border-bottom:none; border-right: none;" class="m--align-left">
                            <table class="table" style="width:100%; margin-bottom:0; border-spacing: 1px;">
                                <tbody>
                                    <tr>
                                        <td style="width: 33%; padding-top: 2px; padding-bottom: 2px; border-left: none; border-top:none;">
                                            CPF/CNPJ: <span class="m--font-bolder">@Model.DocumentoContratanteFreteFormatado</span>
                                        </td>
                                        <td style="width: 33%; padding-top: 2px; padding-bottom: 2px; border-left: none; border-top:none;">
                                            RG: <span class="m--font-bolder">@Model.RgContratanteFrete</span>
                                        </td>
                                        <td style="width: 33%; padding-top: 2px; padding-bottom: 2px; border-right: none; border-top:none;">
                                            Telefone: <span class="m--font-bolder">@Model.TelefoneContratanteFreteFormatado</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width: 33%; padding-top: 2px; padding-bottom: 2px; border-left: none; border-bottom:none;">
                                            KM inicial: <span class="m--font-bolder">@Model.KmInicial?.ToString("N0")</span>
                                        </td>
                                        <td style="width: 33%; padding-top: 2px; padding-bottom: 2px; border-left: none; border-bottom:none;">
                                            KM final: <span class="m--font-bolder">@Model.KmFinal?.ToString("N0")</span>
                                        </td>
                                        <td style="width: 33%; padding-top: 2px; padding-bottom: 2px; border-right: none; border-bottom:none;">
                                            KM rodado: <span class="m--font-bolder">@Model.KmRodado?.ToString("N0")</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 50%; padding-top: 2px; padding-bottom: 2px; border-bottom:none; border-left: none;" class="m--align-left">
                            Endereço: <span class="m--font-bolder">@Model.EnderecoContratanteFrete</span>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="3" class="m--align-center" style="padding:0; background-color: #efefef;">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="3" class="m--align-center">
                <span class="m--icon-font-size-lg1 m--font-boldest">LISTA DE PASSAGEIROS</span>
            </td>
        </tr>
    </tbody>
</table>
<table class="table table-bordered table-striped m-table m-table--border-metal" style="width:100%; margin:0; border-spacing: 1px; border-top: none; border-bottom: none;">
    <thead>
        <tr>
            <th class="m--align-center" style="border-left:none; border-top: none; width: 1px;">QUANT</th>
            <th class="m--align-center" style="border-top: none;">PASSAGEIRO</th>
            <th class="m--align-center" style="border-top: none; width: 1px; white-space: nowrap;">CONTATO</th>
            <th class="m--align-center" style="border-top: none; width: 1px; white-space: nowrap;">RG</th>
            <th class="m--align-center" style="border-top: none; width: 1px; white-space: nowrap;">CPF</th>
            <th class="m--align-center" style="border-top: none; width: 1px; white-space: nowrap;">SEQ. EMB.</th>
            <th class="m--align-center" style="border-top: none; width: 1px; white-space: nowrap;">EMBARQUE</th>
            <th class="m--align-center" style="border-top: none; width: 1px; white-space: nowrap;">DESEMBARQUE</th>
            <th class="m--align-center" style="border-top: none; width: 1px; white-space: nowrap;">VALOR (R$)</th>
            <th class="m--align-center" style="border-right:none; border-top: none; width: 80px; white-space: nowrap;">PAGO</th>
        </tr>
    </thead>
    <tbody>
        @{
            var contReserva = 1;

            foreach (var reserva in Model.Reservas.OrderBy(x => x.SequenciaEmbarque).ThenBy(x => x.Cliente.Nome))
            {
                <tr>
                    <td style="border-left:none;" class="m--align-center">@contReserva.ToString("N0")</td>
                    <td class="m--align-left">
                        <span class="m--font-bold">@reserva.Cliente.Nome</span>
                        @if (reserva.Dependente != null)
                        {
                            <div style="padding:3px;">
                                Dependente: @reserva.Dependente.Nome<br />
                                Data de nascimento: @reserva.Dependente.DataNascimentoToString
                                @(!string.IsNullOrEmpty(reserva.Dependente.Cpf) ? Html.Raw("<br/>CPF: " + reserva.Dependente.CpfFormatado) : Html.Raw(string.Empty))
                            </div>
                        }
                        @if (!string.IsNullOrEmpty(reserva.Observacao))
                        {
                            <div style="padding:3px;">
                                Observação: @reserva.Observacao
                            </div>
                        }
                    </td>
                    <td style="white-space: nowrap;" class="m--align-center">@reserva.Cliente.CelularFormatado</td>
                    <td style="white-space: nowrap;" class="m--align-center">@reserva.Cliente.Rg</td>
                    <td style="white-space: nowrap;" class="m--align-center">@reserva.Cliente.CpfFormatado</td>
                    <td style="white-space: nowrap;" class="m--align-center">@reserva.SequenciaEmbarque</td>
                    <td style="white-space: nowrap;" class="m--align-center">@reserva.LocalEmbarque</td>
                    <td style="white-space: nowrap;" class="m--align-center">@reserva.LocalDesembarque</td>
                    <td style="white-space: nowrap;" class="m--align-center">@Model.ValorPassagem.ToString("C2")</td>
                    <td style="white-space: nowrap;" class="m--align-center" style="border-right:none;">
                        @(reserva.ValorPago.HasValue && reserva.ValorPago.Value == Model.ValorPassagem ? " X " : reserva.ValorPagoFormatado)
                    </td>
                </tr>

                contReserva++;
            }
        }
    </tbody>
</table>
<table class="table table-bordered m-table m-table--border-metal" style="width:100%; margin:0; border-spacing: 1px; border-top: none;">
    <tr>
        <td colspan="3" style="border-top: none;">Observações:<br /><br /></td>
    </tr>
    <tr>
        <td colspan="3" class="m--align-center" style="border-bottom: none;">
            Rua Gentil Otaviano Fundão dos Santos, 187 - Guriri Norte, São Mateus/ES - CEP: 29.946-290
        </td>
    </tr>
    <tr>
        <td style="border: none; padding:0; width:33%;" class="m--align-center">
            www.k2transport.com.br
        </td>
        <td style="border: none; padding:0;  width:33%;" class="m--align-center">
            contato@k2transport.com.br
        </td>
        <td style="border: none; padding:0;  width:33%;" class="m--align-center">
            Telefone: (27) 99794-0912 / (27) 98814-6970
        </td>
    </tr>
</table>