@model IEnumerable<K2.Web.Models.ViagemRegistro>
@{
    var alinhamentoItemTimeline = string.Empty;
}
<div class="m-portlet" style="-webkit-box-shadow: none; box-shadow:none; margin-bottom:0;">
    <div class="m-portlet__body" style="padding:0;">
        <button type="button" class="btn m-btn--square btn-info m-btn--wide btn-sm mr-2" id="bCadastrar">Nova</button>
        @if (Model.Any())
        {
            <div class="m-timeline-1 m-timeline-1--fixed" style="width: 95%;">
                <div class="m-timeline-1__items">
                    <div class="m-timeline-1__marker"></div>
                    @foreach (var viagem in Model)
                    {
                        <div class="m-timeline-1__item @(string.IsNullOrEmpty(alinhamentoItemTimeline) ? "m-timeline-1__item--left m-timeline-1__item--first" : alinhamentoItemTimeline)">
                            <div class="m-timeline-1__item-circle"><div class="m--bg-danger"></div></div>
                            <div class="m-timeline-1__item-arrow"></div>
                            <span class="m-timeline-1__item-time m--font-brand">@viagem.DataHorarioSaida.ToString("dddd,")<span class="m--font-info">@viagem.DataHorarioSaida.ToString("dd/MM/yyyy HH:mm")</span></span>
                            <div class="m-timeline-1__item-content">
                                <div class="m-timeline-1__item-title">
                                    <span class="m--font-boldest">@viagem.Descricao</span>
                                    <div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-center" m-dropdown-toggle="click" aria-expanded="true">
                                        <a href="#" class="btn m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill m-dropdown__toggle">
                                            <i class="la la-ellipsis-h m--font-brand"></i>
                                        </a>
                                        <div class="m-dropdown__wrapper" style="z-index: 101;">
                                            <span class="m-dropdown__arrow m-dropdown__arrow--center"></span>
                                            <div class="m-dropdown__inner">
                                                <div class="m-dropdown__body">
                                                    <div class="m-dropdown__content">
                                                        <ul class="m-nav">
                                                            <li class="m-nav__item">
                                                                <a href="#" class="listar-reservas m-nav__link" data-id="@viagem.Id">
                                                                    <i class="m-nav__link-icon fa fa-handshake"></i>
                                                                    <span class="m-nav__link-text">Reservas...</span>
                                                                </a>
                                                            </li>
                                                            <li class="m-nav__section">
                                                                <span class="m-nav__section-text">Viagem</span>
                                                            </li>
                                                            <li class="m-nav__item">
                                                                <a href="#" class="alterar-viagem m-nav__link" data-id="@viagem.Id">
                                                                    <i class="m-nav__link-icon la la-edit"></i>
                                                                    <span class="m-nav__link-text">Alterar</span>
                                                                </a>
                                                            </li>
                                                            <li class="m-nav__item">
                                                                <a href="#" class="excluir-viagem m-nav__link" data-id="@viagem.Id">
                                                                    <i class="m-nav__link-icon la la-trash"></i>
                                                                    <span class="m-nav__link-text">Excluir</span>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                    <span class="m--font-bold m--font-normal">@(viagem.LocalidadeEmbarque.Nome) > @(viagem.LocalidadeDesembarque.Nome)</span><br />
                                </div>
                                <div class="m-timeline-1__item-body">

                                    <div class="m-list-timeline">
                                        <div class="m-list-timeline__items">
                                            <div class="m-list-timeline__item">
                                                <span class="m-list-timeline__badge m-list-timeline__badge--info"></span>
                                                <span class="m-list-timeline__text">Reservas</span>
                                                <span class="m-list-timeline__time"><span class="m--font-boldest" style="font-size: 1.2rem;">@viagem.Reservas.Count()</span></span>
                                            </div>
                                            <div class="m-list-timeline__item">
                                                <span class="m-list-timeline__badge m-list-timeline__badge--info"></span>
                                                <span class="m-list-timeline__text">Lugares disponíveis</span>
                                                <span class="m-list-timeline__time"><span class="m--font-boldest" style="font-size: 1.2rem;">@viagem.QuantidadeLugaresDisponiveis</span></span>
                                            </div>
                                            <div class="m-list-timeline__item">
                                                <span class="m-list-timeline__badge m-list-timeline__badge--info"></span>
                                                <span class="m-list-timeline__text">Disponibilidade</span>
                                                <span class="m-list-timeline__time"><span class="m--font-boldest m--font-brand" style="font-size: 1.3rem;">@viagem.PercentualDisponibilidade</span></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        if (alinhamentoItemTimeline == "m-timeline-1__item--left" || string.IsNullOrEmpty(alinhamentoItemTimeline))
                        {
                            alinhamentoItemTimeline = "m-timeline-1__item--right";
                        }
                        else
                        {
                            alinhamentoItemTimeline = "m-timeline-1__item--left";
                        }
                    }
                </div>
            </div>
        }
        else
        {
            <div class="m--align-center font-italic">Nenhuma viagem prevista foi encontrada.</div>
        }
    </div>
</div>