@model IEnumerable<K2.Web.Models.ReservaRegistro>


<div class="m-portlet m-portlet-lg m-portlet--brand m-portlet--head-solid-bg" style="margin:0 auto;">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                    Reservas
                    <small>@ViewData["DescricaoViagem"]</small>
                </h3>
            </div>
        </div>
    </div>
    <div class="m-form m-form--fit" novalidate="novalidate">
        <div class="m-portlet__body" style="padding: 15px;">
            <table class="table table-bordered table-hovertable-striped table-condensed nowrap" id="tblReservas">
                <thead>
                    <tr>
                        <th data-priority="1">Cliente</th>
                        <th>Dependente</th>
                        <th>Observação</th>
                        <th>Situação</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var reserva in Model)
                    {
                    <tr>
                        <td>@reserva.Cliente.Nome</td>
                        <td>@reserva.Dependente?.Nome</td>
                        <td>@reserva.Observacao</td>
                        <td>@reserva.DescricaoSituacao</td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="m-portlet__foot m-portlet__foot--fit">
            <div class="m-form__actions m-form__actions--solid m-form__actions--right">
                <button type="button" class="btn m-btn--square btn-secondary btn-fechar">Fechar</button>
            </div>
        </div>
    </div>
</div>
