@model K2.Web.Models.ReservaRegistro

<div class="m-portlet m-portlet--brand m-portlet--head-solid-bg m-portlet-md" style="margin:0 auto;" id="portlet-manter-reserva">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                    @(Model == null ? "Cadastrar" : "Alterar") reserva
                </h3>
            </div>
        </div>
    </div>
    <form id="frmManterReserva" class="m-form m-form--fit m-form--state" novalidate="novalidate">
        <input type="hidden" id="iIdViagem" name="iIdViagem" value="@(Model != null ? Model.Viagem.Id : ViewData["IdViagem"])">
        <input type="hidden" id="iIdReserva" name="iIdReserva" value="@(Model != null ? Model.Id.ToString() : string.Empty)">
        <div class="m-portlet__body">
            <div class="form-group m-form__group m-form__group--md row">
                <div class="col-lg-12 m-form__group-sub">
                    <label>Cliente <span class="m-badge m-badge--danger m-badge--dot"></span></label>
                    <div class="input-group m-input-group m-input-group--square m-input-group--air">
                        <select class="form-control m-select2 m-select2--square" id="sClienteReserva" name="sClienteReserva">
                            @if (Model != null)
                            {
                                <option value="@Model.IdCliente" selected>@Model.Cliente.Nome</option>
                            }
                        </select>
                        <div class="input-group-append">
                            <button class="btn btn-info" type="button" id="bCadastrarCliente" data-container="#portlet-manter-reserva" data-toggle="m-tooltip" data-placement="left" title="" data-original-title="Cadastrar novo cliente"><i class="fa fa-plus"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group m-form__group m-form__group--md row">
                <div class="col-lg-6 m-form__group-sub">
                    <label>Valor pago</label>
                    <div class="input-group m-input-group--square m-input-group--air">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                R$
                            </span>
                        </div>
                        <input type="text" class="form-control m-input m-input--square m-input--air" id="iValorPagoReserva" name="iValorPagoReserva" value="@Model?.ValorPago?.ToString("N2")">
                    </div>
                    <span class="m-form__help">Valor pago pelo cliente</span>
                </div>
                <div class="col-lg-6 m-form__group-sub">

                </div>
            </div>
            <div class="form-group m-form__group m-form__group--md row">
                <div class="col-lg-12 m-form__group-sub">
                    <label>Observações</label>
                    <textarea class="form-control m-input--square m-input--air" rows="3" id="tObservacaoReserva">@Model?.Observacao</textarea>
                    <span class="m-form__help">Observações relacionadas a reserva</span>
                </div>
            </div>
        </div>
        <div class="m-portlet__foot m-portlet__foot--fit">
            <div class="m-form__actions m-form__actions--solid m-form__actions--right">
                <button type="button" class="btn m-btn--square btn-secondary btn-fechar">Cancelar</button>
                <button type="submit" class="btn m-btn--square btn-info">Salvar</button>
            </div>
        </div>
    </form>
</div>